
{{!-- department를 업데이트 할 때 그려지는 hbs --}}
<h1>{{title}}</h1>
<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
    </tr>
    {{!-- department의 개수만큼 반복, department에 삽입된 모든 데이터를 보여줌  --}}
    {{#each dept_res}}
    <form method = "post">
    <tr>
        {{!-- 바꾸고 싶은 이름을 input에 넣어줍니다  --}}
        <td><input type = "text" name="dname" placeholder="{{Dname}}"></td>
        <td>{{Dnumber}}</td>
        <td>{{Mgr_ssn}}</td>
        <td>{{Mgr_start_date}}</td>
        <td><input type = "submit" value = "수정" formaction="/update/department"></td>
    </tr>
    </form>
    {{/each}}
</table>