{{!-- employee 테이블 업데이트를 할 때 그려지는 hbs --}}
<h1>{{title}}</h1>

<table>
    <tr>
        <td>Fname</td>
        <td>Minit</td>
        <td>Lname</td>
        <td>Ssn</td>
        <td>Bdate</td>
        <td>Address</td>
        <td>Sex</td>
        <td>Salary</td>
        <td>Super_ssn</td>
        <td>Dno</td>
    </tr>
    {{#each emp_res}}
<form method= "post" action='/update/employee'>
    <tr>
        <td>{{Fname}}</td>
        <td>{{Minit}}</td>
        <td>{{Lname}}</td>
        <td>{{Ssn}}</td>
        <td>{{Bdate}}</td>
        <td>{{Address}}</td>
        <td>{{Sex}}</td>
        <td><input type = "text" name="salary" placeholder="{{Salary}}"></td>
        <td>{{Super_ssn}}</td>
        <td>{{Dno}}</td>
        {{!-- 수정을 하고싶으면 수정 버튼을 누릅니다  --}}
        <td><input type ="submit" value="수정"></td>
    </tr>
    </form>
    {{/each}}
</table>